
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<Account>
<ul class="nav nav-tabs py-3">
    <!-- Account page navigation-->
    <li class="nav-item " role="presentation">
        <a asp-route="AdminProfile" class="nav-link active">Thông tin người quản trị</a>
    </li>
    <li class="nav-item" role="presentation">
        <a asp-route="AdminChangePassword" class="nav-link">Đổi mật khẩu</a>
    </li>
</ul>
<hr class="mt-0 mb-4">
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Hình đại diện</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="@Context.Session.GetString("Avatar")" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        @* <button class="btn btn-primary" type="button">Upload new image</button> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin người quản trị</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                                <input class="form-control" readonly id="inputUsername" type="text" placeholder="Enter your username" value="@Context.Session.GetString("Username")">
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Full name</label>
                                    <input class="form-control" readonly id="inputFirstName" type="text" placeholder="Enter your first name" value="@Context.Session.GetString("Fullname")">
                                </div>

                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Account Category</label>
                                    <input class="form-control" readonly id="inputOrgName" type="text" placeholder="Enter your organization name" value="@Context.Session.GetString("AccountCategory")">
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Address</label>
                                    <input class="form-control" readonly id="inputLocation" type="text" placeholder="Enter your location" value="@Context.Session.GetString("Address")">
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" readonly id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Context.Session.GetString("Email")">
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" readonly id="inputPhone" type="tel" placeholder="Enter your phone number" value="@Context.Session.GetString("Mobile")">
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                                    <input class="form-control" readonly id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="30/05/2002">
                                </div>
                            </div>
                            <!-- Save changes button-->
                            @* <button class="btn btn-primary" type="button">Save changes</button> *@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


