
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<Article>

<!-- Thanh điều hướng -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-route="AdminHome">Bàn Làm Việc</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
    </ol>
</nav>

<a class="btn btn-primary btn-sm mb-2" asp-route="AdminArticleDetail">
    <i class="fa fa-plus"></i>
    Thêm
</a>
<!-- Nội dung chính -->
<table class="table table-bordered table-striped list-page">
    <thead class="thead-dark">
        <tr>
            <th width="170">
                <i class="fa fa-picture-o"></i>
                Hình
            </th>
            <th>
                <i class="fa fa-window-maximize"></i>
                Tiêu đề
            </th>
            <th width="150">
                <i class="fa fa-user-circle"></i>
                Người đăng
            </th>
            <th width="120" class="text-center">
                <i class="fa fa-flash"></i>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="avatar-container">
                    <div class="avatar-box">
                        <a class="close" href="#">
                            <i class="fa fa-times-circle"></i>
                        </a>
                        <a data-fancybox="gallery"
                           href="@item.Avatar">
                            <img class="img-fluid img-preview" src="@item.Avatar" />
                        </a>
                        <input type="file" class="img-upload form-control form-control-sm" />
                    </div>
                </td>
                <td class="align-middle">
                    <b>@item.Title</b>
                    <br />
                    Mã số: <b>@item.ArticleId</b>
                    <br />
                    Thể loại: <b>@(item.ArticleCategory != null ? item.ArticleCategory.Title : string.Empty)</b>
                </td>
                <td class="align-middle">
                    @item.CreateBy
                    <br />
                    @item.CreateTime.Value.ToString("dd/MM/yyyy")
                    <br />
                    @item.CreateTime.Value.ToString("HH:mm")
                </td>
                <td class="align-middle">
                    <a class="btn btn-primary btn-sm btn-block hvr-float-shadow" asp-route="AdminArticleDetail" asp-route-id="@item.ArticleId">
                        <i class="fa fa-edit"></i>
                        Sửa
                    </a>

                    <a class="btn btn-danger btn-sm btn-block hvr-float-shadow" asp-route="AdminArticleDelete" asp-route-id="@item.ArticleId">
                        <i class="fa fa-trash"></i>
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <ul class="pagination pagination-sm justify-content-center mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
